<li id="comment-<%= cmnts._id %>">
    <% if((locals.user && locals.user.id==cmnts.user.id) ||(locals.user && locals.user.id==post.user.id)){%>
        <br>
        <small>
            <a class="delete-comment-button" href="/comments/destroy/<%= cmnts.id %>">Delete</a>
        </small>
        <% } %>
        <p>
            <%= cmnts.content %>
        </p>
        <small>
            <%= cmnts.user.name %>
        </small>
</li>